
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.box {
  background-color: #c2dede;
  padding: 100px;
  border-radius: 8px;
  margin-top: 1rem;
}

.box h1 {
  color: #333;
  font-size: 30px;
}
